<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">Contact Book1</div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar1">
      <ul class="nav navbar-nav">


        <li><a href="/board">게시판</a></li>

        <li><a href="/board">Home</a></li>
        <li><a href="/board/about">About</a></li>

        <li><a href="/contacts">연락처</a></li>
        <li><a href="/contacts">_Index</a></li>
        <li><a href="/contacts/new">_New</a></li>


        <li><a href="/mycardlists">MyCARD</a></li>
        <li><a href="/CreditCardIssuerList">CreditCardIssuerList</a></li>



      </ul>
    </div>
  </div>
</nav>
