<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>


  </head>
  <body>
    <% include ../../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>
      <P>이 사이트는 신용카드 사용의 도움을 주기 위해 만들어졌습니다.</p>
      <P>version. 181112</p>

        <video width="640" height="480"  controls="true" muted>
            <source src="https://s3.ap-northeast-2.amazonaws.com/jaepyojung/%ED%8F%89%EC%B0%BD%EB%8F%99%EA%B3%84%EC%98%AC%EB%A6%BC%ED%94%BD%EB%B4%89%EC%86%A1.mp4" type="video/mp4" />
        </video>
          <p><q>HTML5 , include video on s3 aws. (test)


    </div>



  </body>
</html>
