<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <% include ../../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>

      <P>이 사이트는 신용카드 사용의 도움을 주기 위해 만들어졌습니다.</p>
    </div>
  </body>
</html>
