<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>


    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script> Kakao.init('f1643921732f418af4cbdf08e8f6fde4'); </script>
  </head>
  <body>
    <% include ../../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>공지사항</h1>
        <P>이 사이트는 신용카드 사용의 도움을 주기 위해 만들어졌습니다.</p>

      </div>
      <!-- <p id="userinfo"></p> -->
    </div>






  </body>
</html>
